<div class="container-fluid px-0">


  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/dashboard/gp_img.jpg" alt="Slide 1">
        <div class="carousel-content">
          <h2 class="carousel-title">ग्रामपंचायत सिंदुर</h2>
          <p class="carousel-subtitle">"उन्नत शेती, उन्नत गाव - प्रगतिशील सिंदुर"</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/dashboard/Nature_Village,_Ratnagiri,_Maharashtra.jpg" alt="Slide 2">
        <div class="carousel-content">
          <h2 class="carousel-title">ग्रामपंचायत सिंदुर</h2>
          <p class="carousel-subtitle">"उन्नत शेती, उन्नत गाव - प्रगतिशील सिंदुर"</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/dashboard/village.jpg" alt="Slide 3">
        <div class="carousel-content">
          <h2 class="carousel-title">ग्रामपंचायत सिंदुर</h2>
          <p class="carousel-subtitle">"उन्नत शेती, उन्नत गाव - प्रगतिशील सिंदुर"</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="scrolling-wrapper">

    <div id="slogan-container" class="scrolling-content">
      <marquee behavior="scroll" direction="left" scrollamount="5" onmouseover="this.stop();"
        onmouseout="this.start();">
        <span class="slogan-item pulse"><i class="fas fa-seedling"></i> ग्रामपंचायत – विकासाचा पाया</span>
        <span class="slogan-item pulse"><i class="fas fa-broom"></i> स्वच्छ गाव, सुंदर गाव</span>
        <span class="slogan-item pulse"><i class="fas fa-users"></i> ग्रामपंचायत – लोकशाहीची खरी ताकद</span>
        <span class="slogan-item pulse"><i class="fas fa-chart-line"></i> गावाचा विकास, ग्रामपंचायतीचा उद्देश</span>
        <span class="slogan-item pulse"><i class="fas fa-handshake"></i> प्रत्येक नागरिकाचा सहभाग, ग्रामपंचायतीचा
          आधार</span>
        <span class="slogan-item pulse"><i class="fas fa-home"></i> ग्रामपंचायत – स्वावलंबी गावासाठी</span>
        <span class="slogan-item pulse"><i class="fas fa-tools"></i> गावासाठी काम, ग्रामपंचायतीचा ध्यास</span>
        <span class="slogan-item pulse"><i class="fas fa-bullhorn"></i> ग्रामपंचायत – गावाचा आवाज</span>
        <span class="slogan-item pulse"><i class="fas fa-leaf"></i> स्वच्छता आणि विकास, ग्रामपंचायतीचे ध्येय</span>
        <span class="slogan-item pulse"><i class="fas fa-shield-alt"></i> ग्रामपंचायत – गावाचा आत्मविश्वास</span>
        <span class="slogan-item pulse"><i class="fas fa-truck-loading"></i> गावातील प्रत्येक घरापर्यंत सेवा</span>
        <span class="slogan-item pulse"><i class="fas fa-hands-helping"></i> ग्रामपंचायत – लोकांच्या सेवेत सदैव
          तत्पर</span>
        <span class="slogan-item pulse"><i class="fas fa-trophy"></i> गावाचा विकास, ग्रामपंचायतीचा अभिमान</span>
        <span class="slogan-item pulse"><i class="fas fa-lightbulb"></i> ग्रामपंचायत – गावाचा स्वप्न साकारते</span>
        <span class="slogan-item pulse"><i class="fas fa-users-cog"></i> गावासाठी एकत्र येऊ, ग्रामपंचायतीला बळकटी
          देऊ</span>
        <span class="slogan-item pulse"><i class="fas fa-seedling"></i> ग्रामपंचायत – विकासाचा पाया</span>
        <span class="slogan-item pulse"><i class="fas fa-broom"></i> स्वच्छ गाव, सुंदर गाव</span>
        <span class="slogan-item pulse"><i class="fas fa-users"></i> ग्रामपंचायत – लोकशाहीची खरी ताकद</span>
        <span class="slogan-item pulse"><i class="fas fa-chart-line"></i> गावाचा विकास, ग्रामपंचायतीचा उद्देश</span>
        <span class="slogan-item pulse"><i class="fas fa-handshake"></i> प्रत्येक नागरिकाचा सहभाग, ग्रामपंचायतीचा
          आधार</span>
        <span class="slogan-item pulse"><i class="fas fa-home"></i> ग्रामपंचायत – स्वावलंबी गावासाठी</span>
        <span class="slogan-item pulse"><i class="fas fa-tools"></i> गावासाठी काम, ग्रामपंचायतीचा ध्यास</span>
        <span class="slogan-item pulse"><i class="fas fa-bullhorn"></i> ग्रामपंचायत – गावाचा आवाज</span>
        <span class="slogan-item pulse"><i class="fas fa-leaf"></i> स्वच्छता आणि विकास, ग्रामपंचायतीचे ध्येय</span>
        <span class="slogan-item pulse"><i class="fas fa-shield-alt"></i> ग्रामपंचायत – गावाचा आत्मविश्वास</span>
        <span class="slogan-item pulse"><i class="fas fa-truck-loading"></i> गावातील प्रत्येक घरापर्यंत सेवा</span>
        <span class="slogan-item pulse"><i class="fas fa-hands-helping"></i> ग्रामपंचायत – लोकांच्या सेवेत सदैव
          तत्पर</span>
        <span class="slogan-item pulse"><i class="fas fa-trophy"></i> गावाचा विकास, ग्रामपंचायतीचा अभिमान</span>
        <span class="slogan-item pulse"><i class="fas fa-lightbulb"></i> ग्रामपंचायत – गावाचा स्वप्न साकारते</span>
        <span class="slogan-item pulse"><i class="fas fa-users-cog"></i> गावासाठी एकत्र येऊ, ग्रामपंचायतीला बळकटी
          देऊ</span>
      </marquee>

    </div>
  </div>
  <div class="container-fluid">
    <div class="gp-section py-3 px-2">
      <div class="icons-section">
        <div class="icon-grid">
          <img src="https://sindurgp.info/images/icon/i6.jpg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i21.jpg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i22.png" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i23.avif" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i24.jpg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i25.jpg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i26.avif" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i8.jpg" alt="Icon 8">
          <img src="https://sindurgp.info/images/icon/i27.png" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i9.jpg" alt="Icon 9">
          <img src="https://sindurgp.info/images/icon/i28.jpeg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i29.jpg" alt="Icon 9">
        </div>
        <div class="icon-grid">
          <img src="https://sindurgp.info/images/icon/i7.jpg" alt="Icon 7">
          <img src="https://sindurgp.info/images/icon/i4.jpeg" alt="Icon 4">
          <img src="https://sindurgp.info/images/icon/i29.jpeg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i30.jpg" alt="Icon 9">
          <img src="https://sindurgp.info/images/icon/i31.jpeg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i32.jpg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i33.jpg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i34.avif" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i35.jpg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i36.jpg" alt="Icon 6">
          <img src="https://sindurgp.info/images/icon/i11.jpg" alt="Icon 11">
          <img src="https://sindurgp.info/images/icon/i10.jpg" alt="Icon 10">
        </div>
      </div>
  
      <div class="header-banners">
        <div class="gp-title fw-bold">महाराष्ट्र शासन - ग्रामपंचायत कार्यालय सिंदुर</div>
        <div class="gp-subtitle">
          अधिकृत संकेतस्थळ
        </div>
        <div class="container px-0">
          <div class="banners-row">
            <div class="banner-item">
              <img src="https://sindurgp.info/images/icon/i19.png" alt="Ministry Logo" class="banner-img">
              <div class="banner-text text-center">
                <strong class="font16">भारत सरकार</strong>
                <div class="ministry-footer">
                  <div class="ministry-line"></div>
                  <span class="font12">75 Years of Independence Journey</span>
                  <div class="ministry-line"></div>
                </div>
              </div>
            </div>
            <div class="vertical-divider d-none d-md-block"></div>
            <div class="banner-item">
              <img src="https://sindurgp.info/images/icon/i17.jpg" alt="Ministry Logo" class="banner-img">
              <div class="banner-text text-center">
                <strong class="font16">स्वच्छ व हिरवं माझं गाव</strong>
                <div class="ministry-footer">
                  <div class="ministry-line"></div>
                  <span class="font12">संकल्प 2022-2027</span>
                  <div class="ministry-line"></div>
                </div>
              </div>
            </div>
            <div class="vertical-divider d-none d-md-block"></div>
            <div class="banner-item">
              <img src="https://sindurgp.info/images/icon/i18.jpg" alt="Ministry Logo" class="banner-img">
              <div class="banner-text text-center">
                <strong class="font16">Ministry of Panchayati Raj</strong>
                <div class="ministry-footer">
                  <div class="ministry-line"></div>
                  <span class="font12">Government of India</span>
                  <div class="ministry-line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="members-container" class="profiles-section">
        <div class="profile-card">
          <img src="./assets/dashboard/profile.png" class="profile-img" alt="कस्तुरी अण्णाप्पा बिरादार">
          <h6 class="profile-title font18">सरपंच</h6>
          <p class="profile-desc font14 py-2">कस्तुरी अण्णाप्पा बिरादार</p>
          <p class="profile-contact font14"><i class="fa-solid fa-phone"></i> 8600223559</p>
        </div>
        <div class="profile-card">
          <img src="./assets/dashboard/profile.png" class="profile-img" alt="महादेवी लक्ष्मन मेंडीगेरी">
          <h6 class="profile-title font18">उपसरपंच</h6>
          <p class="profile-desc font14 py-2">महादेवी लक्ष्मन मेंडीगेरी</p>
          <p class="profile-contact font14"><i class="fa-solid fa-phone"></i> 7709972110</p>
        </div>
        <div class="profile-card">
          <img src="./assets/dashboard/profile.png" class="profile-img" alt="राजेंद्र काडप्पा माळी">
          <h6 class="profile-title font18">ग्रामपंचायत अधिकारी</h6>
          <p class="profile-desc font14 py-2">राजेंद्र काडप्पा माळी</p>
          <p class="profile-contact font14"><i class="fa-solid fa-phone"></i> 8390322257</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid badge-container mt-3">
    <div class="d-flex justify-content-center align-items-stretch gap-3 flex-wrap">
      <div class="badge-card">
        <img src="https://sindurgp.info/images/9theme/i1.png" class="village-badges">
        <p class="badge-title font18">गरिबीमुक्त गाव</p>
        <button class="more-info-btn p-2 font12" data-title="गरिबीमुक्त गाव" data-pdf="https://sindurgp.info/pdfs/t1.pdf"
          data-bs-toggle="modal" data-bs-target="#pdfModal">अधिक माहिती</button>
      </div>
      <div class="badge-card">
        <img src="https://sindurgp.info/images/9theme/i2.png" class="village-badges">
        <p class="badge-title font18">आरोग्यदायी गाव</p>
        <button class="more-info-btn p-2 font12" data-title="आरोग्यदायी गाव" data-pdf="https://sindurgp.info/pdfs/t2.pdf"
          data-bs-toggle="modal" data-bs-target="#pdfModal">अधिक माहिती</button>
      </div>
      <div class="badge-card">
        <img src="https://sindurgp.info/images/9theme/i3.png" class="village-badges">
        <p class="badge-title font18">बालस्नेही गाव</p>
        <button class="more-info-btn p-2 font12" data-title="बालस्नेही गाव" data-pdf="https://sindurgp.info/pdfs/t3.pdf"
          data-bs-toggle="modal" data-bs-target="#pdfModal">अधिक माहिती</button>
      </div>
      <div class="badge-card">
        <img src="https://sindurgp.info/images/9theme/i4.png" class="village-badges">
        <p class="badge-title font18">जलसमृद्ध गाव</p>
        <button class="more-info-btn p-2 font12" data-title="जलसमृद्ध गाव" data-pdf="https://sindurgp.info/pdfs/t4.pdf"
          data-bs-toggle="modal" data-bs-target="#pdfModal">अधिक माहिती</button>
      </div>
      <div class="badge-card">
        <img src="https://sindurgp.info/images/9theme/i5.png" class="village-badges">
        <p class="badge-title font18">स्वच्छ व हरित गाव</p>
        <button class="more-info-btn p-2 font12" data-title="स्वच्छ व हरित गाव" data-pdf="https://sindurgp.info/pdfs/t5.pdf"
          data-bs-toggle="modal" data-bs-target="#pdfModal">अधिक माहिती</button>
      </div>
      <div class="badge-card">
        <img src="https://sindurgp.info/images/9theme/i6.png" class="village-badges">
        <p class="badge-title font18">पायाभूत सुविधांनीयुक्त<br>स्वयंपूर्ण गाव</p>
        <button class="more-info-btn p-2 font12" data-title="पायाभूत सुविधांनीयुक्त<br>स्वयंपूर्ण गाव"
          data-pdf="https://sindurgp.info/pdfs/t6.pdf" data-bs-toggle="modal" data-bs-target="#pdfModal">अधिक
          माहिती</button>
      </div>
      <div class="badge-card">
        <img src="https://sindurgp.info/images/9theme/i7.png" class="village-badges">
        <p class="badge-title font18">सामाजिक न्याय व स्वयंपूर्ण गाव</p>
        <button class="more-info-btn p-2 font12" data-title="सामाजिक न्याय व स्वयंपूर्ण गाव<br>सामाजिकदृष्ट्या सुरक्षित गाव"
          data-pdf="https://sindurgp.info/pdfs/t7.pdf" data-bs-toggle="modal" data-bs-target="#pdfModal">अधिक
          माहिती</button>
      </div>
      <div class="badge-card">
        <img src="https://sindurgp.info/images/9theme/i8.png" class="village-badges">
        <p class="badge-title font18">सुशासनयुक्त गाव</p>
        <button class="more-info-btn p-2 font12" data-title="सुशासनयुक्त गाव" data-pdf="https://sindurgp.info/pdfs/t8.pdf"
          data-bs-toggle="modal" data-bs-target="#pdfModal">अधिक माहिती</button>
      </div>
      <div class="badge-card">
        <img src="https://sindurgp.info/images/9theme/i9.png" class="village-badges">
        <p class="badge-title font18">महिला स्नेही गाव</p>
        <button class="more-info-btn p-2 font12" data-title="महिला स्नेही गाव" data-pdf="https://sindurgp.info/pdfs/t9.pdf"
          data-bs-toggle="modal" data-bs-target="#pdfModal">अधिक माहिती</button>
      </div>
    </div>
  </div>
</div>